{
  profiles.devcontainer.module = {
    devcontainer.enable = true;
    devcontainer.tweaks = [
      "gpg-agent"
      "podman"
      "vscode"
    ];
    devcontainer.settings.customizations.vscode.extensions = [
      "anthropic.claude-code"
      "jnoortheen.nix-ide"
      "GitHub.copilot"
      "GitHub.copilot-chat"
      "datakurre.devenv"
      "vscodevim.vim"
    ];
  };
}
